.form-label {
    display: flex;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

input {
    width: 100%;
    border: 3px solid #e99905;
    padding: .5rem;
    background-color: #00c3ff;
    border-radius: 10px;
    color: white;
}

.submit-button {
    width: 50%;
    padding: .5rem;
    margin: 10px;
    border-radius: 10px;
    background-color: #e99905;
    border: 1px solid #e99905;
    color: white;
}